/**
 * Copyright (c) 2020-2022 宁波哥爱帮科技有限公司
 */
#set($voPackage=$package.Entity.replace("service","api").replace("entity","vo"))
package $!{voPackage};

import com.fontana.base.vo.BaseVO;
#if($!{entityLombokModel})
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;
#end

/**
 * $!{table.comment}视图实体类
 *
 * @author $!{author}
 * @since $!{date}
 */
#if($!{entityLombokModel})
@Data
@EqualsAndHashCode(callSuper = true)
@ToString(callSuper = true)
#end
public class $!{entity}VO extends BaseVO {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $!{table.fields})
#if("$!field.name" != "create_user_id" && "$!field.name" != "update_user_id" && "$!field.name" != "create_user_name" && "$!field.name" != "update_user_name" && "$!field.name" != "create_time" && "$!field.name" != "update_time" && "$!field.name" != "deleted_flag")
#if("$!field.comment" != "")
    /**
     * $!{field.comment}
     */
#end
    private $!{field.propertyType} $!{field.propertyName};
#end
#end
## ----------  END 字段循环遍历  ----------
}
