/**
 * Copyright (c) 2020-2022 宁波哥爱帮科技有限公司
 */
#set($dtoPackage=$package.Entity.replace("service","api").replace("entity","dto"))
package $!{dtoPackage};

import com.fontana.base.validate.UpdateGroup;
#if($!{swagger2})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if($!{entityLombokModel})
import lombok.Data;

import javax.validation.constraints.NotNull;
#end

/**
 * $!{table.comment}数据传输对象实体类
 *
 * @author $!{author}
 * @since $!{date}
 */
#if($!{entityLombokModel})
@Data
#end
#if($!{swagger2})
@ApiModel(value = "$!{entity}对象", description = #if ("$!{table.comment}"=="")"$!{entity}对象"#else"$!{table.comment}"#end)
#end
public class $!{entity}DTO {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $!{table.fields})

#if("$!field.name" != "create_user_id" && "$!field.name" != "update_user_id" && "$!field.name" != "create_time" && "$!field.name" != "update_time" && "$!field.name" != "deleted_flag")
#if("$!field.comment" != "")
    /**
     * $!{field.comment}
     */
#end
#if($!{swagger2})
    @ApiModelProperty(value = "$!{field.comment}")
#end
## 主键
#if($!{field.keyFlag})
    @NotNull(message = "数据验证失败，$!{field.comment}不能为空！", groups = {UpdateGroup.class})
## 普通字段
#else
    @NotNull(message = "数据验证失败，$!{field.comment}不能为空！")
#end
    private $!{field.propertyType} $!{field.propertyName};
#end
#end
## ----------  END 字段循环遍历  ----------
}
