/**
 * Copyright (c) 2020-2030 宁波巨灵科技有限公司
 */
package $!{package.Service};

import $!{package.Entity}.$!{entity};
import $!{superServiceClassPackage};

import java.util.List;

/**
 * $!{table.comment} 服务类
 *
 * @author $!{author}
 * @since $!{date}
 */
#if($!{kotlin})
interface $!{table.serviceName} : $!{superServiceClass}<$!{entity}>
#else
#foreach($field in $!{table.fields})
#if($!{field.keyFlag})##主键
public interface $!{table.serviceName} extends $!{superServiceClass}<$!{entity}, $!{field.propertyType}> {
	/**
     * 保存新增的$!{entity}对象。
     *
     * @param $!{table.entityPath}       新增$!{entity}对象。
     * @return 新增后的$!{entity}对象。
     */
    $!{entity} saveNew($!{entity} $!{table.entityPath});

    /**
     * 更新$!{entity}对象。
     *
     * @param $!{table.entityPath}         更新的$!{entity}对象。
     * @return 更新成功返回true，否则false。
     */
    boolean update($!{entity} $!{table.entityPath});

    /**
     * 删除指定数据。
     *
     * @param $!{field.propertyName} 主键Id。
     * @return 成功返回true，否则false。
     */
    boolean remove($!{field.propertyType} $!{field.propertyName});

    /**
     * 获取单表查询结果
     *
     * @param filter  过滤对象。
     * @param orderBy 排序参数。
     * @return 查询结果集。
     */
    List<$!{entity}> get$!{entity}List($!{entity} filter, String orderBy);

}
#end
#end

#end
