spring:
  datasource:
    url: jdbc:mysql://localhost:3306/seata-demo?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&useSSL=false&zeroDateTimeBehavior=convertToNull
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

seata:
  #事务分组配置（在v1:5之后默认值为default_tx_group）,长度不能超过32位
  tx-service-group: test_tx_service_group
  config:
    type: nacos
    nacos:
      server-addr: ${spring.cloud.nacos.server-addr}
      namespace: seata
      dataId: seataServer.properties
      group: DEFAULT_GROUP
      username: nacos
      password: nacos
  registry:
    type: nacos
    nacos:
      application: seata-server
      server-addr: ${spring.cloud.nacos.server-addr}
      namespace: seata
      group: DEFAULT_GROUP
      username: nacos
      password: nacos