<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fontana.onlineservice.mapper.OnlineColumnRuleMapper">
    <resultMap id="BaseResultMap" type="com.fontana.onlineservice.entity.OnlineColumnRule">
        <id column="column_id" jdbcType="BIGINT" property="columnId"/>
        <id column="rule_id" jdbcType="BIGINT" property="ruleId"/>
        <result column="prop_data_json" jdbcType="LONGVARCHAR" property="propDataJson"/>
    </resultMap>

    <resultMap id="BaseResultMapWithOnlineRule" type="com.fontana.onlineservice.entity.OnlineColumnRule" extends="BaseResultMap">
        <association property="onlineRule" column="rule_id" foreignColumn="rule_id"
                     notNullColumn="rule_id" resultMap="com.fontana.onlineservice.mapper.OnlineRuleMapper.BaseResultMap" />
    </resultMap>

    <select id="getOnlineColumnRuleListByColumnIds" resultMap="BaseResultMapWithOnlineRule">
        SELECT
            bn_online_rule.*,
            bn_online_column_rule.*
        FROM
            bn_online_rule,
            bn_online_column_rule
        WHERE
            bn_online_column_rule.rule_id = bn_online_rule.rule_id
            AND bn_online_column_rule.column_id IN
            <foreach collection="columnIdSet" item="columnId" separator="," open="(" close=")">
                #{columnId}
            </foreach>
    </select>

</mapper>
